<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>URL Shortener</title>
  <link rel="stylesheet" href="css/styles.css" />
</head>
<body>
  <div class="container">
    <h1 class="heading">URL Shortener</h1>
    <form action="/shortUrls" method="POST" class="my-4 form-inline">
      <div class="form-space">
        <input required placeholder="Enter URL to shrink" type="url" name="fullUrl" id="fullUrl" class="form-control col mr-2">
      <button class="btn btn-success" type="submit">Shorten</button>
      </div>
    </form>
    
   
  
        <% shortUrls.forEach(shortUrl => { %>
        <div class="link-card">
      <div class="card">
          <div class="up-url">
             <div class="full-link"><p class="old-url"><%= shortUrl.full %></p></div>
             <h5 class="clicks"><%= shortUrl.clicks %> clicks</h5>
          </div>
          <div class="new-link-cont">
            <a href="/<%= shortUrl.short %>" class="new-link">http://localhost:3000/<%= shortUrl.short %></a>
            <button class="btn clipboard">Copy to clipboard</button>
          </div>
      </div>
    </div>
        <% }) %>


    
  </div>
</body>
</html>